*{
    margin: 0;
    box-sizing: border-box;
}
header{
    text-align: center;
    /* background-image: url("./img/image.png"); */
    /* padding: 70px; */
    box-sizing: border-box;
    
}
header img {
    position: absolute;
    width: 100%;
    height: 500px;
    top: 0;
    left: 0;
    z-index: -1;
}
header div p{
    padding: 10px;
}
.kelvin{
    color: azure;
    margin-top: 200px;
    
}
header div button{
    border: none;
    border-radius: 6px;
    padding: 10px;
    cursor: pointer;

}
header div button:hover{
 background-color: #333;
 color: rgb(241, 241, 243);
}
main{
    background-color: #ddd;
    /* margin: 0; */
    display: flex;
    /* text-align: center; */
    justify-content: center;
    gap: 15px;
    padding: 30px;
    margin-top: 190px;

}
.one ,.two{
    background-color: azure;
    padding: 20px 10px;
    text-align: center;
    line-height: 45px;
    border-radius: 5px;

}
footer{
    text-align: center;
    background-color: #333;
    color: aliceblue;
    padding: 15px;

}
