*{
    margin: 0;
}
header{
    text-align: center;
    /* background-image: url("./img/image.png"); */
    padding: 70px;
    
}
header img {
    position: absolute;
    width: 100%;
    height: 500px;
    top: 0;
    left: 0;
    z-index: -1;
}
.kelvin{
    color: azure;
}
main{
    background-color: gray;
    /* margin: 0; */
    display: flex;
    /* text-align: center; */
    justify-content: center;
    gap: 15px;
    padding: 30px;
    margin-top: 250px;

}
.one ,.two{
    background-color: azure;
    padding: 20px 10px;
    text-align: center;
    line-height: 45px;
    border-radius: 5px;

}
